.signin {
  display: flex;
  margin-top: 1rem;
  box-shadow: var(--darkShadow);

  &-left {
    background: url('../../assets/images/signin_bg.jpg') center/cover no-repeat;
  }

  &-right {
    border: 1px solid var(--primaryColor);
    padding: 5rem 3rem;  
  }

  &-action {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    &-login {
      text-align: center;
      margin-top: 2rem;
      cursor: pointer;
      color: var(--primaryColor);

      &:hover {
        color: var(--darkGrey);
      }
    }
  }

  .btn {
    width: 100%;
    margin-right: 5px;
  }

  @media screen and (max-width: 776px) {

    .signin-left {
      display: none;
    }

    .signin-right {
      padding: 1rem;
    }

    .signin-action {
      margin-top: 1rem;
      display: block;      
    }

    .btn {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}