.hero {
  min-height: calc(50vh - 66px);  
  display: flex;
  align-items: center;
  justify-content: center;

  &::before{
    background: url('./../../assets/images/cover.jpg') center/cover no-repeat;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48%;
    z-index: -2;
    opacity: 0.4;
  }

}
