
:root {
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --primaryColor: #af9a7d;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainBlack: #383838;
  --mainWhite: #fff;
}

/* globals */
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.banner {
  border: 1px solid #ddd;
  padding: 2rem;
  
  h1 {
    font-size: 5rem;
    letter-spacing: 0.3rem;
  }

  p {
    font-size: 2rem;
    text-align: center;
  }
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;

  &:hover {
    background: transparent;
    color: var(--primaryColor);
  }

}

.hero {
  min-height: calc(50vh - 66px);  
  display: flex;
  align-items: center;
  justify-content: center;

  &::before{
    background: url('./../../assets/images/cover.jpg') center/cover no-repeat;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48%;
    z-index: -2;
    opacity: 0.4;
  }

}

@media screen and (max-width: 776px) {
  .banner {
    border: none;
    padding: 0.5rem; 

    h1 {
      font-size: 2rem;
      text-align: center;     
    }

    p {
      font-size: 1rem;
    }
  }

  .latest-center {
    grid-row-gap: 1rem;
  }

  .latest {
    padding: 0;
  }

  .title {
    margin-bottom: 1.5rem;
  }
}