.recette-details {
  margin-top: 1rem;
  border: 2px solid var(--primaryColor);
  border-radius: 1rem;

  img {
    border: 1px solid var(--primaryColor);
    box-shadow: var(--darkShadow);
    display: block;
    margin: 1rem auto;
    width: 100%;
  }

  p {
    text-align: center;
  }

  .recette-info {
    display: flex;
    margin-top: 2rem;

    .ingredient {
      width: 50%;
      border-right: 2px solid var(--primaryColor);

      .ingredient-list>div {
        margin-bottom: 1rem;
      }
    }

    .etape {
      width: 50%;

      ol>li {
        margin-bottom: 1rem;
      }
    }
  }

  @media screen and (max-width: 776px) {
    .recette-info {
      flex-direction: column;
      width: 100%;

      .ingredient {
        width: 100%;
        border: none;
        text-align: center;
        margin-bottom: 2rem;
      }

      .etape {
        width: 100%;
        margin-bottom: 2rem;
      }

      .title {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.recette-form {
  margin-top: 1rem;
  border: 2px solid var(--primaryColor);
  border-radius: 1rem;
  padding: 2rem;
}