.recette-details {
  margin-top: 1rem;
  border: 2px solid var(--primaryColor);
  border-radius: 1rem;

  img {
    border: 1px solid var(--primaryColor);
    box-shadow: var(--darkShadow);
    display: block;
    margin: 1rem auto;
  }

  p {
    text-align: center;
  }

  .recette-info {
    display: flex;
    margin-top: 2rem;

    .ingredient {
      width: 50%;
      
      .ingredient-list>div {
        margin-bottom: 1rem;
      }
    }

    .etape {
      width: 50%;

      ol>li {
        margin-bottom: 1rem;
      }
    }
  }
}

.recette-form {
  margin-top: 1rem;
  border: 2px solid var(--primaryColor);
  border-radius: 1rem;
  padding: 2rem;
}